@import "tailwindcss";

@keyframes slideFromRightX {
  from {
    transform: translateX(350px);
  } /* зміщення вправо на 250px */
  to {
    transform: translateX(0);
  }
}

@keyframes slideToRightX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(400px);
  }
}

@layer utilities {
  .toast {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 9999;
    max-width: 28rem;
    width: auto;
    will-change: transform, opacity;
    pointer-events: auto;
    background-color: white;
  }

  .slide-in-x {
    animation: slideFromRightX 300ms ease-out forwards;
    transform-origin: right;
  }
  .slide-out-x {
    animation: slideToRightX 240ms ease-in forwards;
    transform-origin: right;
  }
}
